@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 300;
  background: var(--background);
  color: var(--foreground);
}

body {
  margin: 6rem auto;
  width: 60%;
}


