.collectionContainer {
    display: grid;
    gap: 30vh;
    margin-bottom: 20vh;
}

.imageContainer {
    width: 100%;
    height: auto; /* allow text to expand container */
    position: relative;
    margin-bottom: 2rem;

    p {
        margin-top: 1rem; /* optional spacing */
        text-align: center; /* just in case */
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 70vh;
}

.image {
    object-fit: contain;

}